
.wy-nav-side {
    background: #343131 !important;
}
.wy-side-nav-search a.icon-home::before {
    display: none;
}

.wy-side-nav-search>a
 {
    color: #fcfcfc;
    font-size: 300%;
    font-weight: 600;
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: .009em;
    max-width: 100%;
}
.wy-side-nav-search .version {
    font-size: 80%;
}

.wy-side-nav-search input[type=text]
 {
    width: 75%;
    border-radius: 50px;
    padding: 6px 12px;
    border-color: #2472a4;
}

.wy-side-nav-search {
    display: block;
    width: 300px;
    padding: 1.809em;
    margin-bottom: .809em;
    z-index: 200;
    background-color: #343131;
    text-align: center;
    color: #fcfcfc;
}
.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: #329d9d;
}

a {
    color: #329d9d;
}

.rst-content .note .admonition-title, .rst-content .note .wy-alert-title, .rst-content .seealso .admonition-title, .rst-content .seealso .wy-alert-title, .rst-content .wy-alert-info.admonition-todo .admonition-title, .rst-content .wy-alert-info.admonition-todo .wy-alert-title, .rst-content .wy-alert-info.admonition .admonition-title, .rst-content .wy-alert-info.admonition .wy-alert-title, .rst-content .wy-alert-info.attention .admonition-title, .rst-content .wy-alert-info.attention .wy-alert-title, .rst-content .wy-alert-info.caution .admonition-title, .rst-content .wy-alert-info.caution .wy-alert-title, .rst-content .wy-alert-info.danger .admonition-title, .rst-content .wy-alert-info.danger .wy-alert-title, .rst-content .wy-alert-info.error .admonition-title, .rst-content .wy-alert-info.error .wy-alert-title, .rst-content .wy-alert-info.hint .admonition-title, .rst-content .wy-alert-info.hint .wy-alert-title, .rst-content .wy-alert-info.important .admonition-title, .rst-content .wy-alert-info.important .wy-alert-title, .rst-content .wy-alert-info.tip .admonition-title, .rst-content .wy-alert-info.tip .wy-alert-title, .rst-content .wy-alert-info.warning .admonition-title, .rst-content .wy-alert-info.warning .wy-alert-title, .rst-content .wy-alert.wy-alert-info .admonition-title, .wy-alert.wy-alert-info .rst-content .admonition-title, .wy-alert.wy-alert-info .wy-alert-title
 {
    background: #329d9d;
}

