
.wy-nav-side {
    background: #343131 !important;
}
.wy-side-nav-search a.icon-home::before {
    display: none;
}

.wy-side-nav-search>a
 {
    color: #fcfcfc;
    font-size: 300%;
    font-weight: 600;
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: .009em;
    max-width: 100%;
}
.wy-side-nav-search .version {
    font-size: 80%;
}

.wy-side-nav-search input[type=text]
 {
    width: 75%;
    border-radius: 50px;
    padding: 6px 12px;
    border-color: #2472a4;
}

.wy-side-nav-search {
    display: block;
    width: 300px;
    padding: 1.809em;
    margin-bottom: .809em;
    z-index: 200;
    background-color: #343131;
    text-align: center;
    color: #fcfcfc;
}

